<div class="login-container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" (reset)="RestForm()">
        <h2>Login</h2>

        <div class="form-group">
            <label for="User">Username</label>
            <input type="text" id="User" formControlName="User" placeholder="Enter your User" class="form-control" />
            <div *ngIf="submit && User?.invalid" class="error-text">
                <small *ngIf=" submit|| User?.errors?.['required']">user is required.</small>
            </div>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" formControlName="password" placeholder="Enter your password"
                class="form-control" />
            <div *ngIf=" submit && password?.invalid" class="error-text">
                <small *ngIf="submit && password?.errors?.['required']">Password is required.</small>
                <small *ngIf="password?.errors?.['minlength']">
                    Password must be at least 6 characters.
                </small>
            </div>
        </div>
        <div class="button-container">
            <button class="mr" type="submit">Login</button>
            <button type="reset">Reset</button>
        </div>

    </form>
</div>